td:nth-child(even) {
  background-color: #c3c3c3;
}

body {
  width: 100%;
}

.top3 {
  color: rgb(0, 80, 145);
}

.top5 {
  color: rgb(101, 186, 255);
}

.top6 {
  color: rgb(34, 158, 44);
}

.top10 {
  color: rgb(177, 17, 17);
}

table {
  margin: 0 auto;
  border: black solid 2px;
}

.vitoria {
  color: green;
  font-size: 25px;
}

.derrota {
  color: red;
  font-size: 25px;
}

.empate {
  color: grey;
  font-size: 25px;
}

h1 {
  text-align: center;
}

td {
  min-width: 50px;
  text-align: center;
}

th {
  color: white;
  background-color: rgb(71, 71, 71);
  padding: 7px;
}

.classificacao {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 2px 5px 2px 5px;
}

.posicao {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
  min-width: 50px;
}